[Unit]
Description=uWSGI to serve spotipi
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/spotbot
Environment="PATH=/home/pi/spotbot/bin"
ExecStart=/home/pi/spotbot/bin/gunicorn --worker-class eventlet -w 1 -b 127.0.0.1:5000 app:app

[Install]
WantedBy=multi-user.target
