[Unit]
Description=gunicorn to serve spotbot
After=network.target

[Service]
User=spotbot
Group=www-data
WorkingDirectory=/home/spotbot/spotbot
Environment="PATH=/home/spotbot/spotbot/bin"
ExecStart=/home/spotbot/spotbot/bin/gunicorn --worker-class eventlet -w 1 -b 127.0.0.1:5000 --error-logfile /var/log/spotbot_error.log --access-logfile /var/log/spotbot_access.log --capture-output --log-level debug --reload app:app

[Install]
WantedBy=multi-user.target
