[Unit]
Description=Runs the necessary script for the Spotipi Service

[Service]
Type=oneshot
User=spotbot
WorkingDirectory=/home/spotbot/spotbot
ExecStart=/home/spotbot/spotbot/script.sh -dev /home/spotbot/librespot.log http://localhost

[Install]
WantedBy=multi-user.target
